body{
    color:blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #1e1f24;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabeceraLLC    {
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(13, 0 , 0, 0.75);
}

#cabeceraLLC #tagline{   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size:  0.8em;

}

<<<<<<< HEAD
#footer
{
    background: #777;
    color:white;
    text-align: center;
    padding: 0.5em;
=======
#container h1  {
    font-size: 20px;
}

#post
{
background: white;
padding: 1em;

}

#cabeceraLLC #logo
{
    width: 20px;
    vertical-align: middle;
>>>>>>> header
}